<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <connectionStrings>
        <add name="WebCrawler3Security" connectionString="Data Source=SSA-DB01;Initial Catalog=WebCrawler3Security;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="timeDeviation" value="10" />
        <add key="period" value="300" />
        <add key="virtualUserName" value="AlertProcessor" />
        <add key="passwordHash" value="C0240E596FB73C891833723EF72EB80B294AA98D" />
        <add key="apiUrl" value="https://dev.mi.pricingexcellence.com/api/login/data?login={0}&amp;hashPassword={1}&amp;redirectUrl={2}&amp;userId={3}&amp;alertId={4}" />
        <add key="pathToLog" value="C:/AlertSenderService/Logs/NLogError.txt" />
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logFile" xsi:type="File" fileName="C:/AlertSenderService/Logs/${date:format=yyyy-MM-dd}/alertLog.txt" layout="${longdate} [${threadid}] ${level:uppercase=true} ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/log.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" />
        </targets>

        <rules>
            <logger name="*" minlevel="Debug" writeTo="logfile" />
        </rules>
    </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
